@inherits LayoutComponentBase
<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu/>
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="main">
        <AuthorizeView>
            <NotAuthorized>
                <div  id="topBar" class="top-row px-4">
                    <a href="/" target="_blank" class="oi oi-account-login"> Login</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

