@page "/CreateUser"

@using Microsoft.AspNetCore.Components
@using Models
@using Data
@inject IUserService UserService
@inject NavigationManager NavigationManager

<div>
    <p id="createUserMessage">please fill the below fields</p>


    <input type="text" placeholder="First name" @bind-value="newUser.FirstName"/>


    <input type="text" placeholder="Last name" @bind-value="newUser.LastName"/>


     <input type="email" placeholder="E-mail address" @bind-value="newUser.EmailAddress"/>


    <input type="number" placeholder="Age" @bind-value="newUser.Age"/>


    <input type="text" placeholder="User name" @bind-value="newUser.UserName"/>


    <input type="password" placeholder="Password" @bind-value="newUser.Password"/>


    <p>@message</p>


    <button class="btn btn-outline-dark" type="submit" @onclick="BackToLogin">Back</button>
    <button class="btn btn-outline-dark" type="submit" @onclick="createUser">Create user</button>
</div>

@code 
{
    private string message;
    
    private User newUser = new User();

    private void createUser()
    {
        UserService.CreateUser(newUser);
        message = "User created. Please login to use the system";
    }

    private void BackToLogin()
    {
        NavigationManager.NavigateTo("/Login");
    }
}