@layout LoginLayout
@page "/Login"

<div class="row page-background-class justify-content-center align-items-center">
    <div class="col-4 overflow-auto">
        <div class="loginBox">
            <div class="form-group">
                <h1 id="WelcomeMessage">Welcome to Family Blazor</h1>
            </div>
            
            <br/>
            
            <div class="form-group inputFields">
                <label class="inputForLogin">User name:</label>
                <input type="text" placeholder="User name"/>
            </div>

            <br/>

            <div class="form-group inputFields">
                <label class="inputForLogin">Password:</label>
                <input type="password" placeholder="password"/>
            </div>

            <br/>

            <div class="form-group">
                <p class="action">
                    <button class="btn btn-outline-dark" type="submit">Login</button>
                </p>
            </div>

            <br/>

        </div>
    </div>
</div>

@code {
    
}