@layout LoginLayout
@page "/Login"
@using Models
@using Data
@using Authentication
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <NotAuthorized>
        <div class="row page-background-class justify-content-center align-items-center">
            <div class="col-4 overflow-auto">
                <div class="loginBox">
                    <div class="form-group">
                        <h1 id="WelcomeMessage">Welcome to Family Blazor</h1>
                    </div>

                    <br/>
                    
                    <div><h3>Please login or <a href="Adults">continue as a guest</a></h3></div>
                    
                    <br/>

                    <div class="form-group inputFields">
                        <label class="inputForLogin">User name:</label>
                        <input type="text" placeholder="User name" @bind-value="userName"/>
                    </div>

                    <br/>

                    <div class="form-group inputFields">
                        <label class="inputForLogin">Password:</label>
                        <input type="password" placeholder="password" @bind-value="password"/>
                    </div>

                    <br/>

                    <div class="form-group">
                        @errorMessage
                    </div>

                    <br/>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <p class="action">
                                    <button class="btn btn-outline-dark" type="submit" @onclick="PerformLogin">Login</button>
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="action">
                                    <button class="btn btn-outline-dark" type="submit" @onclick="ToCreateUserPage">Create User</button>
                                </p>
                            </div>
                        </div>
                    </div>

                    <br/>

                </div>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="form-group">
            <button class="btn btn-outline-dark" type="submit" @onclick="PerformLogout">Log out</button>
        </div>
    </Authorized>
</AuthorizeView>

@code 
{
    private string userName;
    private string password;
    private string errorMessage;

    public async Task PerformLogin()
    {
        errorMessage = "";
        try
        {
            ((CustomAuthenticationStateProvider) AuthenticationStateProvider).ValidateLogin(userName, password);
            NavigationManager.NavigateTo("/Adults");
            userName = "";
            password = "";
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }

    public async Task PerformLogout()
    {
        errorMessage = "";
        userName = "";
        password = "";
        try
        {
            ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
        }
    }
    
    private void ToCreateUserPage()
    {
        NavigationManager.NavigateTo("/CreateUser");
    }
}